<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 60vh;
    }
</style>

<div class="jumbotron">
    <h2>Nuevo Producto</h2>
    <form>
        Nombre: <input type="text" name="title">
        Precio: <input type="text" name="price">
        Foto URL: <input type="text" name="thumbnail">
        <button>Enviar</button>
    </form>

    <br>
    <div id="tabla_productos"></div>
</div>

